.panel {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0;
  background: transparent;
}

.white {
  background-color: white;
}

.light-gray {
  background-color: #ffe3e0;
}

.container h2 {
  text-align: left;
  font-size: 2em;
  color: #ea9085;
}

#resume, #competences, #projects, #links {
  padding-top: 60px;
  height: 100%;
}

#resume {
}

.resume-div {
  margin-left: 10%;
  margin-top: 10%;
  width: 80%;

}

.resume-each {
  cursor: pointer;
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-size: contain;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  border-radius: 2px;

}

.resume-each:hover, .resume-each:active {
  opacity: 0.7;
}


.resume-each h3 {
  text-transform: lowercase;
  position: absolute;
  bottom: 3%;
  left: -1%;
  padding: 10px 20px;
  color: #ea9085 ;
  background-color: white;
  border-radius: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  z-index: 3;
  font-size: 4vh;

}

.resume-hide {
  position: absolute;
  top: 30%;
  right: 10%;
  max-width: 60%;
  border-radius: 2px;
  background-color: white;
  padding: 20px;
  display: none;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);

}



.resume-hide h4 {
  font-size: 2vh;
  text-align: right;
  color: #ea9085;

}

.resume-display {
  display: block;
}


.form-line {
  width: 100%;
}

#email, #message {
  width: 100%;
  margin-bottom: 2vh;
}

form {
  width: 90%;
  margin: 3vh auto;
  font-size: 1.5vh;
}

form h3 {
  width: 80% !important;
  margin-left: 10% !important;
  line-height: 1.2;
  margin-bottom: 3vh;
  font-size: 1.5vh;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
}

textarea, input {
  box-shadow: 0;
  border: none;
  background-color: #ffe3e0;
  color: #ea9085;
  padding: 5px;
}
textarea::placeholder, input::placeholder {
  color: #ea9085
}

button {
  margin-left: 70%;
  width: 30%;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: none;
  border-style: none;
  color: #ea9085;
  border: 1px solid #ea9085;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 1.5vh;
}

button:hover, button:active {
  background-color: #ea9085;
  border: 1px solid #ea9085;
  color: white;
}
.contactform {
  width: 80%;
  margin: 10vh auto;
  position: relative;
  background: white;
  min-height: 30vh;
  border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);

}

.form-done, .form-fail {
  color: #ea9085;
  background-color: #ea9085;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  border-radius: 2px;
}

.form-done p, .form-fail p {
  font-size: 1.5vh;
  color: #ea9085;
  border: 1px solid #ea9085;
  background: white;
  padding: 15px 30px;
  border-radius: 2px;
  margin: 10% 20%;
  width: 60%;


}


.display-form-done {
  display: block !important;
}

.each-project {
  margin: 0;

}

.each-project h3 {
  font-size: 2vh;
  left : auto;
  right: 2%;
  bottom: 12%;
  background-color: rgba(250,250,250,0.8);
  border: 1px solid #ea9085;
}

.each-project:hover h3, .each-project:active h3 {
  background-color: white;
}

.each-project:hover {
  opacity: 0.7;
}

.all-projects {
padding-left: 0;
padding-right: 0;
}
#projects h2 {
  margin-bottom: 15%;
}

.details-projects {
  padding: 10px;
  margin-left: 0;
  margin-top: 6vh;
  width: 100%;
  background-color: #ffe3e0;
  border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  display: none;
}
.details-projects h3 {
  font-size: 3vh;
  margin-left: 0;
  margin-right: 0;
}

.details-projects h4 {
  font-size: 1.7vh;

}
.display-projects {
  display: block;
}

#competences ul {
  margin-bottom: 2vh;
  margin-top: 3vh;
  margin-left: 10%;
  width: 80%;
  text-align: center;

}

#competences li p {
  background-color: #ea9085;
  padding: 10px 20px;
  color: white;
  font-size: 1.5vh;
  border-radius: 2px;
  margin: 10px;

  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
}

#competences h3 {
  background-color:white;
  color: #ea9085;
  text-align: center;
  width: 80%;
  padding-left: 0;
  margin-left: 10%;
  border-radius: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#competences h4 {
  background-color:white;
  color: #ea9085;
  border: 1px solid #ea9085;
  border-radius: 2px;
  width: 60%;
  margin-left: 30%;
  padding: 10px 15px;
  margin-bottom: 3vh;
  text-align: justify;
  font-size: 1.5vh;
}
.comp-imp {
  font-size: 1.8vh !important;
  font-weight: bold;
  border: 1px solid white;
}
.comp-inprogress {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 3vh;
}
.comp-inprogress ul {
  border-bottom: 3px solid white;
  margin-top: 1vh !important;
  padding-bottom: 2vh !important;
}

.comp-inprogress p {
  background-color: rgba(234, 144, 133, 0.6) !important;
  font-size: 1vh;

}
.comp-love h4 {
  width: 50% !important;
}
.comp-inprogress .comp-imp p {
  font-size: 1.5vh;
}
