.container {
  width: 80%;
  margin: 0px auto;
  padding: 25px 25px 25px 25px;
  border-radius: 3px;

}

.container p {
  text-align: justify;
  padding-left: 110px;
  padding-right: 110px;
}

.container li {
  list-style: none;
  padding-left: 110px;
  padding-bottom: 10px;
  font-size: 1em;
  color: #154C26;
}

.container ul {
  padding-left: 0px;
}

.container img {
  width: 50px;
  margin-right: 25px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.container h2 {
  text-align: left;
  font-size: 2em;
}

#resume, #competences, #projects, #links {
  padding-top: 60px;
  min-height: calc(100vh - 20px);
  border: 1px solid blue;
}

.resume-div {
  margin-top: 20vh;

}



.form-line {
  width: 100%;
}

form {
  width: 80%;
  margin: 20vh auto;
}

.contactform {
  position: relative;
  background: white;
  min-height: 30vh;
}

.form-done {
  color: white;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  display: none;
}

.form-fail {
  color: white;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  display: none;
}

.display-form-done {
  display: block !important;
}
