.container p {
  text-align: justify;
  padding-left: 110px;
  padding-right: 110px;
}

.container li {
  list-style: none;
  padding-left: 110px;
  padding-bottom: 10px;
  font-size: 1em;
  color: #154C26;
}

.container ul {
  padding-left: 0px;
}

.container img {
  width: 50px;
  margin-right: 25px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.container h2 {
  text-align: left;
  font-size: 2em;
}

#resume, #competences, #projects, #links {
  padding-top: 60px;
  min-height: 100vh;
  border: 1px solid blue;
}

#resume {
}

.resume-div {

  margin-top: 10%;
  width: 100%;

}

.resume-each {
  cursor: pointer;
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-size: contain;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  border-radius: 2px;

}


.resume-each h3 {
  text-transform: lowercase;
  position: absolute;
  bottom: 3%;
  left: -1%;
  padding: 10px 20px;
  color: white ;
  background-color: #ea9085;
  border-radius: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  z-index: 3;
  font-size: 4vh;

}

.resume-hide {
  position: absolute;
  bottom: 21%;
  right: -1%;
  width: 60%;

  background-color: #ea9085;
  padding: 10px;
  display: none;
}

.resume-hide h4 {
  font-size: 2vh;
  text-align: justify;
  color: white;

}

.resume-display {
  display: block;
}


.form-line {
  width: 100%;
}

form {
  width: 80%;
  margin: 20vh auto;
}

.contactform {
  position: relative;
  background: white;
  min-height: 30vh;
}

.form-done {
  color: white;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  display: none;
}

.form-fail {
  color: white;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
  height: 100%;
  width: 100%;
  display: none;
}

.display-form-done {
  display: block !important;
}
