#navbar {
  position: fixed;
  bottom: 0px;

  background-color: #ea9085;

  padding: 1px 1px 1px 1px;
  z-index: 9;
  border: 0;
  width: 100%;
}


#navbar li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5vh;
  text-shadow : none;
  opacity: 1;

}

#navbar ul {
  padding-top: 10px;
  padding-left: 0px;
  text-align: center;
}

#navbar a {
  color: white;
  padding-bottom: 12px;
  text-transform: lowercase;
  font-weight: light;
  letter-spacing: 2px;
}

#navbar a:hover {
  border-bottom: 4px solid #e2776a;
}

.back-to-the-top {
  position: fixed;
  bottom: 4vh;
  right: 2vh;
  font-size: 3vh;
  color: white;
  padding: 10px;
  z-index: 9;
}
.back-to-the-top a {
  color: #ea9085;
}
