@font-face {
font-family: "VisueltBlack";
src: url("~@/assets/fonts/visuelt-black.otf");
font-display: swap;
}

@font-face {
font-family: "VisueltLight";
src: url("~@/assets/fonts/visuelt-light.otf");
font-display: swap;
}

@font-face {
font-family: "VisueltMedium";
src: url("~@/assets/fonts/visuelt-medium.otf");
font-display: swap;
}

@font-face {
font-family: "VisueltRegular";
src: url("~@/assets/fonts/visuelt-regular.otf");
font-display: swap;
}


$main-dark: #86A985;
$main-darker: #A30B37;
$second-dark: #C4CAD0;
$second-light: #FCF7F8;
$black-dark: #464849;
$black-light: #909191;
$white: #FFFFFF;

$size-h1: 3rem;
$size-h2-landing: 1.5rem;
$size-h2: 3rem;
$size-h3: 2rem;
$size-p: 1rem;

$font-black: "VisueltBlack", sans-serif;
$font-light: "VisueltLight", sans-serif;
$font-medium: "VisueltMedium", sans-serif;
$font-regular: "VisueltRegular", sans-serif;

h3 {
  color: $black-dark;
}
