@font-face {
font-family: "VisueltBlack";
src: url("~@/assets/fonts/visuelt-black.otf");
}

@font-face {
font-family: "VisueltLight";
src: url("~@/assets/fonts/visuelt-light.otf");
}

@font-face {
font-family: "VisueltMedium";
src: url("~@/assets/fonts/visuelt-medium.otf");
}

@font-face {
font-family: "VisueltRegular";
src: url("~@/assets/fonts/visuelt-regular.otf");
}


$main-dark: #DC9D9C;
$main-darker: #A30B37;
$second-dark: #C4CAD0;
$second-light: #FCF7F8;
$black-dark: #464849;
$black-light: #909191;
$white: #FFFFFF;

$size-h1: 2rem;
$size-h2: 1.5rem;
$size-p: 1rem;

$font-black: "VisueltBlack", sans-serif;
$font-light: "VisueltLight", sans-serif;
$font-medium: "VisueltMedium", sans-serif;
$font-regular: "VisueltRegular", sans-serif;
